* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(230, 232, 230);
    border: 1px solid red;
}

/* HEADER */

body {
    background-color: rgb(63, 64, 63);
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

#headerbar {
    width: 100%;
    position: fixed;
    top: 0;
    display: grid;
    grid-template: "one two";
    align-content: center;
    padding: 15px;
    box-shadow: 1px 1px 1px rgb(230, 232, 230);
    z-index: 100;
}

#headerbar span{
    font-size: 1.5rem;
    grid-area: one;
    justify-content: left;
    align-content: left;
    font-weight: 700;
}

.navbar {
    grid-area: two;
    padding-top: 0.18rem;
}

.navbar ul a {
    text-decoration: none;
    color: rgb(230, 232, 230);
}

.navbar ul {
    display: inline-flex;
    justify-content: space-around;
    list-style: none;
    text-decoration: none;
    width: 100%;
}

/* HEADER MOBILE */

@media only screen and (max-width: 480px){

    #headerbar, span {
        position: static;
        display: flex;
        justify-content: center;
    }

    .navbar {
        display: none;
    }
}

/* TOP BLOCK */

#topblock {
    height: 63px;
}

@media only screen and (max-width: 480px){

    #topblock {
        display: none;
    }
}

/* MISION */

#mision {
    background-color: rgba(206, 208, 206, 0.2);
    text-align: center;
    padding: 50px;
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

/* MOBILE MISION */

@media only screen and (max-width: 480px) {
    #mision{
        display: absolute;
        top: 0;
    }
}

/* GALERIA */

.galeria {  
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 300px;
    gap: 1rem;
  }
  
  .galeria img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .img-grid-col-2 {
    grid-column: span 2;
  }
  
  .img-grid-row-2 {
    grid-row: span 2;
  }

  /* TABLET GALERIA */

  @media only screen and (max-width: 1024px){
      .galeria {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px;
      }
  }